ul {
  background-color: rgb(46, 46, 46);
  padding: 0;
  margin: 20px;
  position: relative;
  float: left;
  width: 70%;
  border-bottom: 5px solid rgb(31, 109, 253);
}
li {
  display: inline-block;
  padding: 20px 30px;
  transform: scale(1);
}
a {
 color: white;
 text-decoration: none;
 font-size: 20px;
}
li:hover {
  background-color: rgb(31, 109, 253);
  border-radius: 3px;
  transform: scale(1.16);
}
.active {
  background-color: rgb(31, 109, 253);
}
